.info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.info p {
  font-weight: 900;
  padding-left: 20px;
  align-self: center;
  text-transform: uppercase;
}